<%- include('../partials/header.ejs') %>

<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-light p-4">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-item" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-item" href="options">Back <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-item" href="/teacher/logout">Logout <span class="sr-only">(current)</span></a>
              </li>
          </ul>
      </div>
    </div>
    <nav class="navbar navbar-light bg-light">
      <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"
      style="width: 100%;">
        <span class="navbar-toggler-icon" title="Menu"></span>
      </button>
    </nav>
  </div>

<div class="card-body">
    <% if(studentData!='Incorrect credentials!' ) { %>
        <h5 class="card-title">View all students : </h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Roll number</th>
                    <th scope="col">Date of birth</th>
                    <th scope="col">Marks</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
        <% studentData.forEach(student =>{ %>
            <tr>
                <td><%= student.name %></td>
                <td><%= student.rollNumber %></td>
                <td><%= student.dob %></td>
                <td><%= student.marks %></td>
                <td>
                    <a href="/teacher/authAndView/studentEdit/<%= student._id %> "><img style="margin: 0px 5px;" src="https://img.icons8.com/material-outlined/30/000000/edit.png"/></a>
                    <a href="/teacher/authAndView/delete/<%= student._id %> "><img style="margin: 0px 5px;" src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png"/></a>
                </td>
            </tr>
            <%  }) %>
       </tbody>
        </table>
        <% } else { %>
            <div class="text-center">
                <h1><%= studentData %></h1>
            </div>
            <% } %>
  </div>
<%- include('../partials/footer.ejs') %> 
<script>
    function edit(rollNo, dob) {
        $.ajax({ url: '/teacher/studentEdit', type: 'POST', data: {rollNo, dob} });
  }
  </script>